@use "./variables" as *;

.light-blue {
    background-color: $light-blue;
}
.yellow {
    background-color: $yellow;
}
.pale-green {
    background-color: $pale-green;
}
.green {
    background-color: $green;
}
.red {
    background-color: $red;
}
.orange {
    background-color: $orange;
}
.light-pink {
    background-color: $light-pink;
}
.blue {
    background-color: $blue;
}
.pale-blue {
    background-color: $pale-blue;
}
.dark-green {
    background-color: $dark-green;
}
.grey {
    background-color: $grey;
}