@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
$primary-font: 'Metrophobic', sans-serif;

$colour-background: black;
$light-blue: rgb(161, 199, 210);
$yellow: rgb(234, 218, 60);
$pale-green: rgb(191, 235, 194);
$green: rgb(63, 210, 130);
$red: rgb(212, 75, 80);
$orange: rgb(236, 179, 129);
$light-pink: rgb(236, 193, 216);
$blue: rgb(83, 194, 233);
$pale-blue: rgb(190, 234, 236);
$dark-green: rgb(159, 210, 86);
$grey: rgb(185, 186, 188);
