@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  background-color: black;
  padding: 2em;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em;
  grid-template-areas: "h . . . . . . . . . . . . . . . . he" "li be . . . . . . . . . . b c n o f ne" "na mg . . . . . . . . . . al si p s cl ar" "k ca sc ti va cr mn fe co ni cu zn ga ge as se br kr" "rb sr y zr nb mo tc ru ro pd ag cd in sn sb te i xe" "cs ba la hf ta w re os ir pt au hg tl pb bi po at rn" "fr ra ac rf db sg bh hs mt ds rg cn nh fl mc lv ts og" ". . . ce pr nd pm sm ev gd td dy ho er tm yb lu ." ". . . th pa u np up am cm bk cf es fm md no lr .";
}
.table__card {
  border-radius: 0.25em;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  font-family: "Metrophobic", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
}
.table__card span {
  position: relative;
  right: 0.75em;
  top: 0.1em;
  font-size: 80%;
}

.h {
  grid-area: h;
}

.he {
  grid-area: he;
}

.li {
  grid-area: li;
}

.be {
  grid-area: be;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.n {
  grid-area: n;
}

.o {
  grid-area: o;
}

.f {
  grid-area: f;
}

.ne {
  grid-area: ne;
}

.na {
  grid-area: na;
}

.mg {
  grid-area: mg;
}

.al {
  grid-area: al;
}

.si {
  grid-area: si;
}

.p {
  grid-area: p;
}

.s {
  grid-area: s;
}

.cl {
  grid-area: cl;
}

.ar {
  grid-area: ar;
}

.k {
  grid-area: k;
}

.ca {
  grid-area: ca;
}

.sc {
  grid-area: sc;
}

.ti {
  grid-area: ti;
}

.va {
  grid-area: va;
}

.cr {
  grid-area: cr;
}

.mn {
  grid-area: mn;
}

.fe {
  grid-area: fe;
}

.co {
  grid-area: co;
}

.ni {
  grid-area: ni;
}

.cu {
  grid-area: cu;
}

.zn {
  grid-area: zn;
}

.ga {
  grid-area: ga;
}

.ge {
  grid-area: ge;
}

.as {
  grid-area: as;
}

.se {
  grid-area: se;
}

.br {
  grid-area: br;
}

.kr {
  grid-area: kr;
}

.rb {
  grid-area: rb;
}

.sr {
  grid-area: sr;
}

.y {
  grid-area: y;
}

.zr {
  grid-area: zr;
}

.nb {
  grid-area: nb;
}

.mo {
  grid-area: mo;
}

.tc {
  grid-area: tc;
}

.ru {
  grid-area: ru;
}

.ro {
  grid-area: ro;
}

.pd {
  grid-area: pd;
}

.ag {
  grid-area: ag;
}

.cd {
  grid-area: cd;
}

.in {
  grid-area: in;
}

.sn {
  grid-area: sn;
}

.sb {
  grid-area: sb;
}

.te {
  grid-area: te;
}

.i {
  grid-area: i;
}

.xe {
  grid-area: xe;
}

.cs {
  grid-area: cs;
}

.ba {
  grid-area: ba;
}

.la {
  grid-area: la;
}

.hf {
  grid-area: hf;
}

.ta {
  grid-area: ta;
}

.w {
  grid-area: w;
}

.re {
  grid-area: re;
}

.os {
  grid-area: os;
}

.ir {
  grid-area: ir;
}

.pt {
  grid-area: pt;
}

.au {
  grid-area: au;
}

.hg {
  grid-area: hg;
}

.tl {
  grid-area: tl;
}

.pb {
  grid-area: pb;
}

.bi {
  grid-area: bi;
}

.po {
  grid-area: po;
}

.at {
  grid-area: at;
}

.rn {
  grid-area: rn;
}

.fr {
  grid-area: fr;
}

.ra {
  grid-area: ra;
}

.ac {
  grid-area: ac;
}

.rf {
  grid-area: rf;
}

.db {
  grid-area: db;
}

.sg {
  grid-area: sg;
}

.bh {
  grid-area: bh;
}

.hs {
  grid-area: hs;
}

.mt {
  grid-area: mt;
}

.ds {
  grid-area: ds;
}

.rg {
  grid-area: rg;
}

.cn {
  grid-area: cn;
}

.nh {
  grid-area: nh;
}

.fl {
  grid-area: fl;
}

.mc {
  grid-area: mc;
}

.lv {
  grid-area: lv;
}

.ts {
  grid-area: ts;
}

.og {
  grid-area: og;
}

.ce {
  grid-area: ce;
}

.pr {
  grid-area: pr;
}

.nd {
  grid-area: nd;
}

.pm {
  grid-area: pm;
}

.sm {
  grid-area: sm;
}

.ev {
  grid-area: ev;
}

.gd {
  grid-area: gd;
}

.td {
  grid-area: td;
}

.dy {
  grid-area: dy;
}

.ho {
  grid-area: ho;
}

.er {
  grid-area: er;
}

.tm {
  grid-area: tm;
}

.yb {
  grid-area: yb;
}

.lu {
  grid-area: lu;
}

.th {
  grid-area: th;
}

.pa {
  grid-area: pa;
}

.u {
  grid-area: u;
}

.np {
  grid-area: np;
}

.up {
  grid-area: up;
}

.am {
  grid-area: am;
}

.cm {
  grid-area: cm;
}

.bk {
  grid-area: bk;
}

.cf {
  grid-area: cf;
}

.es {
  grid-area: es;
}

.fm {
  grid-area: fm;
}

.md {
  grid-area: md;
}

.no {
  grid-area: no;
}

.lr {
  grid-area: lr;
}

.light-blue {
  background-color: rgb(161, 199, 210);
}

.yellow {
  background-color: rgb(234, 218, 60);
}

.pale-green {
  background-color: rgb(191, 235, 194);
}

.green {
  background-color: rgb(63, 210, 130);
}

.red {
  background-color: rgb(212, 75, 80);
}

.orange {
  background-color: rgb(236, 179, 129);
}

.light-pink {
  background-color: rgb(236, 193, 216);
}

.blue {
  background-color: rgb(83, 194, 233);
}

.pale-blue {
  background-color: rgb(190, 234, 236);
}

.dark-green {
  background-color: rgb(159, 210, 86);
}

.grey {
  background-color: rgb(185, 186, 188);
}/*# sourceMappingURL=styles.css.map */